<div class="row m-5">
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/download.jpg" class="card-img-top " alt="...">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">تمرينة الرقبة</h5>
                    <div class="dropdown">
                        <button class="btn border-info dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#"> <i class="fas fa-trash text-danger"></i>
                                مسح</a>
                            <a class="dropdown-item" href="#"> <i class="fas fa-edit"></i>

                                تعديل</a>
                        </div>
                    </div>

                </div>

                <p class="card-text">تعمل علي تحسين عمل عضلات الرقبة مما تخخف الالم</p>
            </div>
        </div>
    </div>
</div>